:root {
    --cor-principal: #F9F8F5;
    --cor-secundaria: #D06C47;
    --status-a-fazer: #EEC03F;
    --status-fazendo: #488CE4;
    --status-feita: #44B677;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-principal);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    border-bottom: 1px solid color-mix(in srgb, var(--cor-principal), black 16%);
}

header,main, footer {
    padding: 2vh clamp(10px, 16%, 28vw);
}

.marca {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 34px;
    gap: 10px;
}

.logo {
    width: 100%;
    height: 100%;
}

.titulo-pagina {
    font-size: 26px;
}

.botao-nova-tarefa {
    padding: 10px 16px;
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    text-wrap: nowrap;
    cursor: pointer;
}

.botao-nova-tarefa:hover {
    background-color: color-mix(in srgb, var(--cor-secundaria), white 12%);
}

main {
    flex-grow: 1;
}

.filtro-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: color-mix(in srgb, var(--cor-principal), black 4%);
    border-radius: 10px;
    padding: clamp(6px, 1%, 8px);
    width: fit-content;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.botao-filtro {
    border-radius: 10px;
    background-color: inherit;
    border: none;
    padding: 10px clamp(8px, 2%, 20px);
    color: #8a8075;
    text-wrap: nowrap;
    transition: color, font-weight 0.2s ease;
    cursor: pointer;
}

.botao-filtro::after {
    display: block;
    content: attr(data-text);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.botao-filtro:hover:not(.botao-filtro-ativo) {
    color: black;
    font-weight: bold;
}

.botao-filtro-ativo {
    background-color: var(--cor-secundaria);
    color: white;
}

@keyframes entradaSuaveCentralizada {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(-50% + 15px));
    } 
    
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.nenhuma-tarefa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: entradaSuaveCentralizada 0.4s ease-out forwards;
}

.nenhuma-tarefa img {
    width: 80px;
    height: 80px;
}

.excluir-todas {
    display: block;
    width: fit-content;
    margin: 0 10px 16px auto;
    border: none;
    background: none;
    color: #898076;
    padding: 10px;
    border-radius: 10px;
    transition: color, background-color 0.2s ease;
}

.excluir-todas:hover {
    background-color: #E6E2DB;
    color: #f00;
}

@keyframes apareceModal {
    from {
        opacity: 0;
        transform: translate(-50%, calc(-50% + 20px));
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.modal-nova-tarefa[open] {
    animation: apareceModal 0.4s ease-out forwards;
}

.modal-nova-tarefa {
    padding: clamp(10px, 10%, 36px) clamp(20px, 10%, 40px);
    width: 80%;
    min-width: 300px;
    max-width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    background-color: var(--cor-principal);
    transition: background-color 0.2s ease;
}

@keyframes fundoModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.modal-nova-tarefa::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    animation: fundoModal 0.4s ease-out forwards;
}

.modal-nova-tarefa h3 {
    margin-bottom: 30px;
}

.form-tarefa {
    display: flex;
    flex-direction: column;
}

.campo-obrigatorio {
    color: #f00;
}

.modal-nova-tarefa label {
    margin-bottom: 6px;
}

.modal-nova-tarefa input {
    margin-bottom: 16px;
    height: 30px;
    background-color: #F5F3EF;
    border: none;
    outline: 1px solid #E2DFD9;
    border-radius: 10px;
    padding: 20px 10px;
}

.modal-nova-tarefa input:focus {
    outline: 2px solid var(--cor-secundaria);
}

.selecionar-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F5F3EF;
    border-radius: 8px;
    padding: 8px;
    width: fit-content;
}

.botao-status {
    border-radius: 10px;
    background-color: inherit;
    border: none;
    padding: 10px;
    color: #8a8075;
    cursor: pointer;
}

.botao-status::after {
    display: block;
    content: attr(data-text);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.botao-status:hover:not(.botao-status-ativo) {
    color: black;
    font-weight: bold;
}

.botao-status-ativo {
    background-color: var(--cor-secundaria);
    color: white;
}

.botoes-nova-tarefa {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 14px;
}

.botao-salvar-tarefa, .botao-cancelar-tarefa {
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.botao-salvar-tarefa {
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
    transition: background-color 0.2s ease;
}

.botao-salvar-tarefa:hover {
    background-color: #d67b5a;
}

.botao-cancelar-tarefa {
    background: none;
    border: none;
    transition: background-color 0.2s ease;
}

.botao-cancelar-tarefa:hover {
    background-color: #e6e2db;
}

@keyframes entradaSuave {
    0% {
        opacity: 0;
        transform: translateY(15px) scale(0.98);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.tarefa-lista {
    background-color: color-mix(in srgb, var(--cor-principal), black 4%);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    animation: entradaSuave 0.2s ease-out forwards;
    will-change: opacity, transform;
}

.conteudo-tarefa-lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #716F6C;
}

.infos-tarefa-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infos-tarefa-lista h4 {
    color: black;
    font-size: 16pt;
}

.status-tarefa {
    color: white;
    border-radius: 20px;
    height: fit-content;
    padding: 5px 10px;
    text-wrap: nowrap;
}

.botoes-tarefa {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
}

.botoes-tarefa button {
    color: #898076;
    padding: 10px;
    border-radius: 10px;
    background-color: color-mix(in srgb, var(--cor-principal), black 2%);
    border: 1px solid color-mix(in srgb, var(--cor-principal), black 8%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    transition: all 0.2s ease;
}

.botoes-tarefa button:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#botao-editar:hover {
    color: black;
}

#botao-excluir:hover {
    color: red;
}

footer {
    height: 100px;
    border-top: 1px solid color-mix(in srgb, var(--cor-principal), black 16%);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 600px) {
    .filtro-status {
        margin-left: auto;
        margin-right: auto;
    }
}